.titlebar {
    height: 50px;
    background: #329ea3;
    user-select: none;
    display: grid;
    grid-template-columns: auto max-content;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
